.container {
  display: flex;
  justify-content: center;
}

.main {
  width: 450px;
  height: 90vh;
  margin-top: 5vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow:0px 10px 25px rgba(0, 0, 0, 0.187) ;
  border-radius: 10px;
}
.gitHub{
  width: 70%;
  font-size: x-large;
  padding:5px;
  margin: 10px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: black;
  transition:500ms;
}
.gitHub:hover{
  background-color: rgba(0, 0, 0, 0.856);
  cursor: pointer;
}

.google{
  width: 70%;
  font-size: large;
  padding:5px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(220, 205, 205);
  transition:500ms;
}
.google:hover{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.286);
}


/* @media(max-width:500px){
  .main{
    
  }
} */
