

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    width: 100%;
    margin: auto;
}

.textarea{
    color: rgba(0, 0, 0, 0.646);
    resize: none;
    width: 100%;
    min-height: 7rem;
    font-size: 20px;
    border:0;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Home{
    position: fixed;
    top: 10px;
    right:10px;
}
.user{
    
    display: flex;
    font-size: larger;
    height: 4rem;
    margin: 1rem;
}
.post{
    position: absolute;
    right: 1rem;
    bottom: 0;
    height: 2rem;
    width: 7rem;
    border: none;
    border-radius: 20px;
    font-size:large;
    color: white;
    background-color: rgba(42, 42, 142, 0.919);
    transition: 300ms;
}
.post:hover{
    cursor: pointer;
    background-color: rgb(42, 42, 142);
}
.spinner{
    position: absolute;
    right: 1rem;
    bottom: 0;
}
.username{
    color: rgba(0, 0, 0, 0.646);
}
