

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow:0px 10px 25px rgba(0, 0, 0, 0.187);
    padding: 2rem;
    width: 50%;
    min-width: 25rem;
    margin: auto;
}

.textarea{
    color: rgba(0, 0, 0, 0.646);
    resize: none;
    width: 100%;
    min-height: 7rem;
    font-size: 20px;
    border:0;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Home{
    position: fixed;
    top: 10px;
    right:10px;
}
.user{
    display: flex;
    font-size: larger;
    height: 4rem;
    margin: 1rem;
}
